
table th,
table td{
    white-space: normal !important;
    text-align: center !important;
}
table tr th:first-child,
table tr td:first-child{
    width: 25px;
}
table tr th:nth-child(2),
table tr td:nth-child(2){
    width: 50%;
}
@media only screen and (max-width: 500px){
    
    table tr th,
    table tr td{
        padding-left: 0px !important;
        padding-right: 0px !important;

    }

}